/* Define a "universal selector" style with the * character */
/* Each element will take on the styles defined in the universal selector.*/
/* Keeps our code DRY: Don't Repeat Yourself*/
* {
    font-family: monospace;
}

button, input, textarea, select {
    font: inherit;
}

/*Inheritance applies to the HTML selector as well.  Can put font style there.*/
html {

}

body {
    font-size: 22px;
    /*border is not inherited by every element within the body*/
    /*border: 3px solid black;*/
}

h1, h2 {
    color: blue;
}

/*Define a .gray class.  Can re-use class on multiple elements.  Overrides other CSS inheritance.  Also overrides the p defnitions below it because it has more specificity.*/
.gray {
    color: gray;
}

/* The !importnat flag will make the style override everything!  Don't use it too often - better to organize your code. */
p {
    /*color: purple!important;*/
    color: purple ;

}

/* "Cascading" means that the style sheet works like a waterfall, from the top down.  When we repeat the p selector, the bottom-most definition is what will be implemented.*/
p {
    color: red;
}

.highlight {
    background-color: gold;
    text-transform: uppercase;
}

/* Define an ID Selector, second.  ID is specific to ONE specific element. */
#third {
    font-style: italic;

}